body {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.pane-editors,
.pane-preview {
  flex-grow: 1;
  flex-shrink: 0;
  width: 50%;
}

.pane-editors {
  display: flex;
  flex-direction: column;
}

.editor-container {
  flex: 1;
}
