.CodeMirror {
  font-family: 'SF Mono', 'Inconsolata', 'Monaco', 'Consolas', monospace;
  font-size: 12px;
  height: auto;
  min-height: 100%;
  line-height: 1.5;
  color: #094650;
}

.CodeMirror-gutters {
  background-color: transparent;
  border: 0;
}

.CodeMirror-linenumber {
  color: #E4EBEE;
}

.cm-s-fiddlings .cm-tag,
.cm-s-fiddlings .cm-property {
  color: #758D9E;
}

.cm-s-fiddlings .cm-keyword {
  color: #094650;
  font-weight: 500;
}

.cm-s-fiddlings .cm-def {
  color: #4BBAE7;
}

.cm-s-fiddlings .cm-atom {
  color: #094650;
}

.cm-s-fiddlings .cm-string {
  color: #4BBAE7;
}
